<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/enter_room.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" data-behaviour="search-on-list">
      <div id="create-room-container">
        <h1>Chat</h1>
        <form>
          <input type="text" placeholder="roomName" required />
          <button type="button">Create / Join</button>
        </form>
      </div>
      <span class="counter" data-search-on-list="counter"></span>
      <div class="list-wrap">
        <ul class="list" data-search-on-list="list">
          <li class="list-item" data-search-on-list="list-item">
            <a href="" class="list-item-link"
              >방 이름은 이거다.
              <span class="item-list-subtext">10명 접속중...</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/enter_room.js"></script>
  </body>
</html>
